{% extends 'user_temp/base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #242424;
      }
    
  </style>
<!-- Main Wrapper Start -->
<div class="wrapper bg--shaft">

<!-- navbar Start -->
<div class ="container-fluid">
    {% include 'user_temp/includes/navbar.html' %}
</div>
<!-- navbar End -->


<!-- Breadcumb area Start -->
 <div class="breadcrumb-area">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h1 class="page-title">Add Address</h1>
              <ul class="breadcrumb justify-content-center">
                  <li><a href="{% url 'user_home' %}">Home</a></li>
                  <li class="current"><a href="{% url 'checkout' %}">Checkout</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Breadcumb area End -->

<!-- Main content wrapper start -->
<div class="main-content-wrapper">
  <div class="checkout-area pt--40 pb--80 pt-md--30 pb-md--60">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- User Action Start -->
                  <!-- <div class="user-actions">
                      <div class="row">
                          <div class="col-12">
                              <div class="user-actions__single user-actions__login">
                                  <h3><i class="fa fa-cube"></i> Returning Customer? <span class="expand_action" data-attr="#checkout_login">Click here to login.</span></h3>
                                  <div id="checkout_login" class="user-actions__form hide-in-default">
                                      <div class="checkout-login__info">
                                          <p class="checkout-login__text">
                                              If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing & Shipping section.
                                          </p>
                                          <form class="form quick-login-form">
                                              <div class="form__group">
                                                  <label class="form__label" for="login_email">Username Or Email <sup>*</sup></label>
                                                  <input type="email" name="login_email" id="login_email" class="form__input form__input--2">
                                              </div>
                                              <div class="form__group">
                                                  <label class="form__label" for="login_password">Password <sup>*</sup></label>
                                                  <input type="password" name="login_password" id="login_password" class="form__input form__input--2">
                                              </div>
                                              <div class="form__group d-flex align-items-center">
                                                  <button type="submit" class="btn btn-style-3">Login</button>
                                                  <div class="custom-checkbox ml--20">
                                                      <input type="checkbox" name="sessionStore" id="sessionStore" class="form__checkbox">
                                                      <label for="sessionStore" class="form__checkbox--label">Remember me</label>
                                                  </div>
                                              </div>
                                              <a href="#" class="forgot-pass">Forgot your password?</a>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                              <div class="user-actions__single user-actions__coupon">
                                  <h3><i class="fa fa-cube"></i> Have A Coupon? <span class="expand_action" data-attr="#coupon_info">Click Here To Enter Your Code.</span></h3>
                                  <div id="coupon_info" class="user-actions__form user-actions--coupon hide-in-default">
                                      <form action="#" class="form">
                                          <div class="form__group d-flex">
                                              <input type="text" name="coupon" id="coupon" class="form__input form__input--2 form__input--w285 mr--20" placeholder="Coupon Code">
                                              <button type="submit" class="btn btn-medium btn-style-3">Apply Coupon</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> -->
                  <!-- User Action End -->
              </div>
          </div> 
          <div class="row">
              <div class="col-6 mx-auto">
                  <!-- Checkout Area Start -->
                  <div class="checkout-wrapper bg--2">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="checkout-title">
                                  <h2>Add Address</h2>
                              </div>
                              <div class="checkout-form">
                                  <form action="" method ='POST' class="form">
                                    {% csrf_token %}
                                      <div class="form-row mb--30">
                                          <!-- <div class="form__group col-md-6 mb-sm--30"> 
                                              <label for="billing_fname" class="form__label">User <span>*</span></label>
                                               <input type="text" name="billing_fname" id="billing_fname" class="form__input form__input--2"> -->
                                              <!-- {{form.user}} -->
                                          </div> 
                                          <div class="form__group col-md-6">
                                              <label for="billing_lname" class="form__label">Name <span>*</span></label>
                                              <input type="text" name="name" id="billing_lname" class="form__input form__input--2"> 
                                              <!-- {{form.name}} -->
                                          </div>
                                      </div>
                                      <div class="form-row mb--30">
                                          <div class="form__group col-12">
                                              <label for="billing_company" class="form__label">Phone</label>
                                              <input type="text" name="phone" id="billing_company" class="form__input form__input--2">
                                              <!-- {{form.phone}} -->
                                          </div>
                                      </div>
                                      <!-- <div class="form-row mb--30">
                                          <div class="form__group col-12">
                                              <label for="billing_country" class="form__label">Country</label>
                                              <select id="billing_country" name="billing_country" class="form__input form__input--2 nice-select">
                                                  <option value="">Select a country…</option>
                                                  <option value="AF">Afghanistan</option>
                                                  <option value="AL">Albania</option>
                                                  <option value="DZ">Algeria</option>
                                                  <option value="AR">Argentina</option>
                                                  <option value="AM">Armenia</option>
                                                  <option value="AU">Australia</option>
                                                  <option value="AT">Austria</option>
                                                  <option value="AZ">Azerbaijan</option>
                                                  <option value="BH">Bahrain</option>
                                                  <option value="BD" selected="selected">Bangladesh</option>
                                                  <option value="BD">Brazil</option>
                                                  <option value="CN">China</option>
                                                  <option value="EG">Egypt</option>
                                                  <option value="FR">France</option>
                                                  <option value="DE">Germany</option>
                                                  <option value="HK">Hong Kong</option>
                                                  <option value="HU">Hungary</option>
                                                  <option value="IS">Iceland</option>
                                                  <option value="IN">India</option>
                                                  <option value="ID">Indonesia</option>
                                                  <option value="IR">Iran</option>
                                                  <option value="IQ">Iraq</option>
                                                  <option value="IE">Ireland</option>
                                                  <option value="IT">Italy</option>
                                                  <option value="JP">Japan</option>
                                                  <option value="KW">Kuwait</option>
                                                  <option value="MY">Malaysia</option>
                                                  <option value="MV">Maldives</option>
                                                  <option value="MX">Mexico</option>
                                                  <option value="MC">Monaco</option>
                                                  <option value="NP">Nepal</option>
                                                  <option value="RU">Russia</option>
                                                  <option value="KR">South Korea</option>
                                                  <option value="SS">South Sudan</option>
                                                  <option value="ES">Spain</option>
                                                  <option value="LK">Sri Lanka</option>
                                                  <option value="SD">Sudan</option>
                                                  <option value="SZ">Swaziland</option>
                                                  <option value="SE">Sweden</option>
                                                  <option value="CH">Switzerland</option>
                                                  <option value="TN">Tunisia</option>
                                                  <option value="TR">Turkey</option>
                                                  <option value="UA">Ukraine</option>
                                                  <option value="AE">United Arab Emirates</option>
                                                  <option value="GB">United Kingdom (UK)</option>
                                                  <option value="US">United States (US)</option>
                                              </select>
                                          </div>
                                      </div> -->
                                      <div class="form-row mb--30">
                                          <div class="form__group col-12">
                                              <label for="billing_streetAddress" class="form__label">Street Address</label>
                                              <input type="text" name="address_1" id="billing_streetAddress" class="form__input form__input--2">
                                              <!-- {{form.address_1}} -->
                                          </div>
                                      </div>
                                      <div class="form-row mb--30">
                                          <div class="form__group col-12">
                                              <label for="billing_apartment" class="form__label">Pin Code</label>
                                              <input type="number" name="pincode" id="billing_apartment" class="form__input form__input--2">
                                              <!-- {{form.pincode}} -->
                                          </div>
                                      </div>
                                      <div class="form-row mb--30">
                                          <div class="form__group col-12">
                                              <label for="billing_city" class="form__label">District and Town <span>*</span></label>
                                              <input type="text" name="district" id="billing_city" class="form__input form__input--2">
                                              <!-- {{form.district}} -->
                                          </div>
                                      </div>
                                      <div class="form-row mb--30">
                                          <div class="form__group col-12">
                                              <label for="billing_zip" class="form__label">State<span>*</span></label>
                                              <input type="text" name="state" id="billing_zip" class="form__input form__input--2">
                                              <!-- {{form.state}} -->
                                          </div>
                                      </div>
                                      <div class="form-row mb--30">
                                          <div class="form__group col-md-6 mb-sm--30">
                                              <label for="billing_phone" class="form__label">LandMark</label>
                                              <input type="text" name="landmark" id="billing_phone" class="form__input form__input--2">
                                              <!-- {{form.landmark}} -->
                                          </div>
                                          <div class="form__group col-md-6 mb-sm--30">
                                            <div class="payment-btn-group">
                                              <button type="submit" class="btn btn-style-3">Add Address</button>
                                          </div>
                                        </div>  
                                      </div>
                                      
                                  </form>
                              </div>
                          </div>
                          <div class="col-lg-6 mt-md--30">
                              
                          </div>
                      </div>
                  </div>
                  <!-- Checkout Area End -->
              </div>
          </div>
      </div>     
  </div>
</div>

   <!-- Footer Start  -->
   <div class="container-fluid">
    {% include 'user_temp/includes/footer.html'%}
   </div>

    <!-- Scroll To Top Start -->    
    <a class="scroll-to-top" href="#"><i class="fa fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->

{% endblock %}