{% extends 'user_temp/base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #242424;
      }
  
  </style>
<!-- Main Wrapper Start -->
<div class="wrapper bg--shaft">

<!-- navbar Start -->
<div class ="container-fluid">
    {% include 'user_temp/includes/navbar.html' %}
</div>
<!-- navbar End -->

  <!-- Breadcumb area Start -->
  <div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Product Detalis</h1>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="{% url 'user_home' %}">Home</a></li>
                    <li><a href="{% url 'store' %}">Shop</a></li>
                    <!-- <li class="current"><a href="product-details.html">Product Detalis Tab Style Two</a></li> -->
                </ul>
            </div>
        </div>
    </div>
  </div>
<!-- Breadcumb area End -->

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="single-products-area section-padding section-md-padding">
        <div class="container">
            <!-- Single Product Start -->
            <section class="mirora-single-product pb--80 pb-md--60">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-row-reverse align-items-center align-items-sm-start mb--30">
                        <!-- Tab Content Start -->
                        <div class="tab-content product-details-thumb-large vertical vertical-reverse" id="myTabContent-3">
                            <div class="tab-pane fade show active" id="product-large-one">
                                <div class="product-details-img easyzoom">
                                    <a class="popup-btn" href="/media/{{single_product.img1}}">
                                        <img src="/media/{{single_product.img1}}" alt="product">
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-large-two">
                                <div class="product-details-img easyzoom">
                                    <a class="popup-btn" href="/media/{{single_product.img2}}">
                                        <img src="/media/{{single_product.img2}}" alt="product">
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-large-three">
                                <div class="product-details-img easyzoom">
                                    <a class="popup-btn" href="/media/{{single_product.img3}}">
                                        <img src="/media/{{single_product.img3}}" alt="product">
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-large-four">
                                <div class="product-details-img easyzoom">
                                    <a class="popup-btn" href="/media/{{single_product.img4}}">
                                        <img src="/media/{{single_product.img4}}" alt="product">
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        <!-- Tab Content End -->
                        
                        <!-- Product Thumbnail Carousel Start -->
                        <div class="product-details-thumbnail vertical">
                            <div class="thumb-menu product-details-thumb-menu nav-horizontal-center" id="thumbmenu-vertical">
                                <div class="thumb-menu-item">
                                    <a href="#product-large-one" data-bs-toggle="tab" class="nav-link active">
                                        <img src="/media/{{single_product.img1}}" alt="product thumb">
                                    </a>
                                </div>
                                <div class="thumb-menu-item">
                                    <a href="#product-large-two" data-bs-toggle="tab" class="nav-link">
                                        <img src="/media/{{single_product.img2}}" alt="product thumb">
                                    </a>
                                </div> 
                                <div class="thumb-menu-item">
                                    <a href="#product-large-three" data-bs-toggle="tab" class="nav-link">
                                        <img src="/media/{{single_product.img3}}" alt="product thumb">
                                    </a>
                                </div>
                                <div class="thumb-menu-item">
                                    <a href="#product-large-four" data-bs-toggle="tab" class="nav-link">
                                        <img src="/media/{{single_product.img4}}" alt="product thumb">
                                    </a>
                                </div>
                               
                            </div>
                        </div>
                        <!-- Product Thumbnail Carousel End -->
                    </div>
                    <div class="col-lg-6">
                        <!-- Single Product Content Start -->
                        <div class="product-details-content"> 
                            <div class="product-details-top">
                                <h2 class="product-details-name">{{single_product.product_name}}</h2>
                                {% comment %} <div class="ratings-wrap">
                                    <div class="ratings">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div> {% endcomment %}
                                    <!-- <span>
                                        <a class="review-btn" href="#singleProductTab">1 Reviews</a>
                                        <a class="review-btn" href="#singleProductTab">write a review</a>
                                    </span> -->
                                </div>
                                <ul class="product-details-list list-unstyled">
                                    <li>Category: <a href="#">{{single_product.category}}</a></li>
                                    <li>Sub-Category: <a href="#">{{single_product.subcategory}}</a></li>
                                    <!-- <li>Product Code: Watches</li> -->
                                    <!-- <li>Reward Points: 600</li> -->
                                   
                                    <!-- <li>Availability: Out of Stock</li> -->
                                    {% if single_product.is_available is True %}
                                    <li>Availabile</li>
                                    {% else %}
                                    <li>Currently unavailable</li>
                                    {% endif %}
                                    <li><strong>Choose Color :</strong>
                                        <li>
                                            <select class="form-select-padding-5-secondary" name="color" id="value1">
                                                <option value = "">----choose----</option>
                                                {% for i in variation %}
                                                <option value = "{{i.color}}">{{i.color}}</option>
                                                {% endfor %}
                                              </select>
                                        </li>
                                    </li>
                                </ul>
                                <div class="product-details-price-wrapper">
                                    <span class="money">₹{{single_product.price}}</span>
                                    <span class="product-price-old">
                                        <!-- <span class="money">$700.00</span> -->
                                    </span>
                                </div>                                      
                            </div>  

                            <div class="product-details-bottom">

                                <p class="product-details-availability">
                                    {% if single_product.stock > 0 %}
                                    {{single_product.stock}} <i class="fa fa-check-circle"></i>
                                    {% else %}
                                    0 <i class="fa fa-times-circle"></i>
                                    {% endif %}
                                </p> 
                                <div class="product-details-action-wrapper mb--20">
                                    <div class="product-details-action-top d-flex align-items-center mb--20">
                                        {% comment %} <div class="quantity">
                                            <span>Qty: </span>
                                            <input type="number" class="quantity-input" name="qty" id="pro_qty" value="1" min="1">
                                        </div> {% endcomment %}
                                    </div>
                                {% if single_product.stock > 0  %}
                                    <a onclick= addcat({{single_product.id}})  class="btn btn-medium btn-style-2 add-to-cart">Add to Cart</a>
                                {% else %}
                                <h5 style="color: red;"><strong>Out Of Stock!!</strong></h5>
                                {% endif %}
                                    <div class="product-details-action-bottom">
                                        <!-- <a href="wishlist.html">+Add to wishlist</a> -->
                                        <!-- <a href="compare.html">+Add to compare</a> -->
                                    </div>
                                </div>  
                                <!-- <p class="product-details-tags">
                                    Tags: <a href="shop.html">Sport</a>,
                                    <a href="shop.html">Luxury</a>
                                </p>  -->
                                <!-- <div class="social-share">
                                    <a  href="https://facebook.com/" target="_blank" rel="noopener noreferrer" class="facebook share-button">
                                        <i class="fa fa-facebook"></i>
                                        <span>Like</span>
                                    </a>
                                    <a  href="https://twitter.com/" target="_blank" rel="noopener noreferrer" class="twitter share-button">
                                        <i class="fa fa-twitter"></i>
                                        <span>Tweet</span>
                                    </a>
                                    <a href="#" class="share share-button">
                                        <i class="fa fa-plus-square"></i> 
                                        <span>Share</span>
                                    </a>
                                </div> -->
                            </div>       
                        </div>
                        <!-- Single Product Content End -->
                    </div>
                </div>
            </section>
            <!-- Single Product End -->  

            <!-- Single Product Tab Start -->
            <section class="product-details-tab bg--dark-4 ptb--80 ptb-md--60">
                <div class="row">
                    <div class="col-12">
                        <ul class="product-details-tab-head nav nav-tab" id="singleProductTab" role="tablist">
                            <li class="nav-item product-details-tab-item">
                                <a class="nav-link product-details-tab-link active" id="nav-desc-tab" data-bs-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-desc" aria-selected="true">Description</a>
                            </li>
                            
                        </ul>
                        <div class="product-details-tab-content tab-content">
                            <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                                <p class="product-details-description">{{single_product.product_description}}</p>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="nav-details" aria-labelledby="nav-details-tab">
                                <div class="product-details-additional-info">
                                    <!-- <h3>Additional Information</h3> -->
                                    <div class="table-content table-responsive">
                                        <!-- <table class="shop_attributes">
                                            <tr>
                                                <th>Color: </th>
                                                <td><p>Black, Blue, Gold</p></td>
                                            </tr>
                                            <tr>
                                                <th>Size: </th>
                                                <td><p>XXL, XL, L, M</p></td>
                                            </tr>
                                        </table> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Single Product Tab End -->
        </div>
    </div>
</div>
<!-- Main Content Wrapper End -->


<!-- Footer Start -->
<div class="container-fluid">
    {% include 'user_temp/includes/footer.html'%}
   </div>
<!-- Footer End -->

<!-- Scroll To Top Start -->    
<a class="scroll-to-top" href="#"><i class="fa fa-angle-double-up"></i></a>
<!-- Scroll To Top End -->

</div>
<!-- Main Wrapper End -->

<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
      
function addcat(id){
    color = $("#value1").val()
    console.log(color,"LLLLLLL")
    if (color !=''){
      console.log("true")
    }
    else{
      color = 0
    }
    Swal.fire({
        title: 'Added to cart successfully!!',
        showClass: {
          popup: 'animate__animated animate__fadeInDown'
        },
        hideClass: {
          popup: 'animate__animated animate__fadeOutUp'
        }
      }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                type:"GET",
                url : "{% url 'add_to_cart'  %}",
                data : {"id" : id ,"color":color},
       
            });
        }
    })
}
</script>
{% endblock %}
