{% extends 'user_temp/base.html' %}
{% load static %}

{% block content %}
<!-- Main Wrapper Start -->
<div class="wrapper bg--shaft">

<!-- navbar Start -->
<div class ="container-fluid">
    {% include 'user_temp/includes/navbar.html' %}
</div>
<!-- navbar End -->


    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <!-- Slider area Start -->

        <div class="slider-area">
            <div class="homepage-slider">
                <!-- Single Slide Start -->
                {% for banner in banners %}
                <div class="single-slider content-v-center" style="background-image: url({{banner.image.url}})">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider-content">
                                     {% comment %} <h5 data-animation="rollIn" data-duration=".8s" data-delay=".5s">Exclusive Offer -20% Off This Week</h5> {% endcomment %}
                                     <h1 data-animation="fadeInDown" data-duration=".8s" data-delay=".2s">{{banner.banner_name}}</h1> 
                                    <p class="mb--30 mb-sm--20" data-animation="fadeInDown" data-duration=".8s" data-delay=".2s">{{banner.product.product_description}} </p>
                                    <p class="mb--50 mb-sm--20" data-animation="fadeInDown" data-duration=".8s" data-delay=".2s">Starting At <strong>₹{{banner.product.price}}</strong></p> 
                                    <div class="slide-btn-group" data-animation="fadeInUp" data-duration="1s" data-delay=".3s"> 
                                        <a href="/store/product_details/{{banner.product.id}}" class="btn btn-bordered btn-style-1">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Slider area End -->

        <!-- Promo Box area Start -->

        <div class="promo-box-area border-bottom ptb--80 ptb-md--60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title mb--15">
                            <h2 class="color--white">Trending Products</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for trend in trending %}
                    <div class="col-md-3 mb-sm--30">
                        <div class="promo promo-1">
                            <a href="{% url 'store' %}" class="promo__box">
                                <img src="{{ trend.img1.url }}" alt="Product Category">
                                <span class="promo__content">
                                    <span class="promo__label">{{trend.product_name}}</span>
                                    <span class="promo__name">{{trend.category}}</span>
                                    <span class="promo__price">From ₹{{trend.price}} - Sale {{trend.offer}}%</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% comment %} <div class="row mt--40 mt-md--30">
                    <div class="col-12 text-center">
                        <p class="tweet"><i class="fa fa-twitter"></i> Check out "Alice - Multipurpose Responsive #Magento #Theme" on #Envato by @Plazathemes #Themeforest <a href="#">https://t.co/DNdhAwzm88</a></p>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>

        <!-- Promo Box area End -->

        <!-- Products Tab area Start -->

        <div class="product-tab pt--80 pb--60 pt-md--60 pb-md--45">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <ul class="nav nav-tabs product-tab__head" id="product-tab" role="tablist">
                            {% comment %} <li class="product-tab__item nav-item active">
                                <a class="product-tab__link nav-link active" id="nav-featured-tab" data-bs-toggle="tab" href="#nav-featured" role="tab" aria-selected="true">Featured</a>
                            </li> {% endcomment %}
                            {% comment %} <li class="product-tab__item nav-item">
                                <a class="product-tab__link nav-link" id="nav-new-tab" data-bs-toggle="tab" href="#nav-new" role="tab" aria-selected="false">New Arrivals</a>
                            </li> {% endcomment %}
                            {% comment %} <li class="product-tab__item nav-item">
                                <a class="product-tab__link nav-link" id="nav-bestseller-tab" data-bs-toggle="tab" href="#nav-bestseller" role="tab" aria-selected="false">Bestseller</a>
                            </li> {% endcomment %}
                            <li class="product-tab__item nav-item">
                                <a class="product-tab__link nav-link" id="nav-onsale-tab" data-bs-toggle="tab" href="#nav-onsale" role="tab" aria-selected="false">On Sale</a>
                            </li>
                        </ul>
                        <div class="tab-content product-tab__content" id="product-tabContent">
                            <div class="tab-pane fade show active" id="nav-featured" role="tabpanel">
                                <div class="product-carousel   container row m-0 p-0">
                                    <div class="col-12  d-flex">
                                        {% for pd in products %}
                                        <div class="mirora-product col-3">
                                            <div class="product-img">
                                                <img src="{{ pd.img1.url }}" alt="Product" class="primary-image" />
                                                <img src="{{ pd.img2.url }}" alt="Product" class="secondary-image" />
                                                <div class="product-img-overlay">
                                                    {% if pd.offer is not 0 %}
                                                    <span class="product-label discount">
                                                        {{pd.offer}}%
                                                    </span>
                                                    {% elif pd.category_offer is not 0 %}
                                                    <span class="product-label discount">
                                                        {{pd.category_offer}}%
                                                    </span>
                                                    {% endif %}
                                                    <a href="{% url 'product_details' pd.id  %}" class="btn btn-transparent btn-fullwidth btn-medium btn-style-1">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-content text-center">
                                                <span>{{pd.subcategory}}</span>
                                                <h4><a href="{% url 'product_details' pd.id %}">{{pd.product_name}}</a></h4>
                                                <div class="product-price-wrapper">
                                                    <span class="money">{{pd.price}}</span>
                                                    <!-- <span class="product-price-old">
                                                        <span class="money">$700.00</span>
                                                    </span> -->
                                                </div>
                                            </div>
                                            <div class="mirora_product_action text-center position-absolute">
                                                <div class="product-rating">
                                                    {% comment %} <span>
                                                        <i class="fa fa-star theme-star"></i>
                                                        <i class="fa fa-star theme-star"></i>
                                                        <i class="fa fa-star theme-star"></i>
                                                        <i class="fa fa-star theme-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span> {% endcomment %}
                                                </div>
                                                <p>
                                                  {{pd.product_description}}
                                                </p>
                                                <div class="product-action">
                                                    <a class="same-action" href="wishlist.html" title="wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                    <a class="add_cart cart-item action-cart" onclick=addcat({{pd.id}}) title="wishlist"><span>Add to cart</span></a>
                                                    {% comment %} <a class="same-action compare-mrg" data-bs-toggle="modal" data-bs-target="#productModal" href="compare.html">
                                                        <i class="fa fa-sliders fa-rotate-90"></i>
                                                    </a> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>            
   <!-- Footer Start  -->
   <div class="container-fluid">
    {% include 'user_temp/includes/footer.html'%}
   </div>

    <!-- Scroll To Top Start -->    
    <a class="scroll-to-top" href="#"><i class="fa fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->
</div>
<!-- Main Wrapper End -->

<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% comment %} <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> {% endcomment %}
<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>


<script>
      
function addcat(id){
    color = $("#value1").val()
    console.log(color,"LLLLLLL")
    if (color !=''){
      console.log("true")
    }
    else{
      color = 0
    }

    Swal.fire({
        title: 'Added to cart successfully!!',
        showClass: {
          popup: 'animate__animated animate__fadeInDown'
        },
        hideClass: {
          popup: 'animate__animated animate__fadeOutUp'
        }
      }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                type:"GET",
                url : "{% url 'add_to_cart'  %}",
                data : {"id" : id ,"color":color},
       
            });
        }
    })
}
</script>


{% endblock %}