{% extends 'admin_temp/adbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<script>

  $("#checkbox1").is(':checked',function(){
    $("#checkbox1").prop('checked',true);
  });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% if messages %}
{% for message in messages %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if message.tags == 'success' %}
    <script>
      var m="{{ message }}";
      Swal.fire({
        icon: 'success',
        text: m,
      })
    </script>
    {% else %}
    <script>
      var m ="{{ message }}";
      Swal.fire({
        icon : 'error',
        text: m,
      })
    </script>
    {% endif %}
{% endfor %}
{% endif %}


<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  {% include 'admin_temp/includes/nav_and_side.html' %}
    <!-- partial  end --> 

    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          {% comment %} <h3 class="page-title">Product Management</h3> {% endcomment %}
        </div>
        <div class="row">
          <div class="col-md grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Add New Coupon</h4>
                <!-- <p class="card-description"> Horizontal form layout </p> -->
                <form action="{% url 'add_coupon' %} " method="POST" autocomplete="off" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Coupon Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control"  name='coupon_name' placeholder="Coupon Name">
                      <!-- {{form.product_name|add_class:"form-control"}} -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Coupon Code</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name='coupon_code' id="exampleInputName1" placeholder="Coupon Code">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Discount %</label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" name='discount' id="exampleInputName1"min="0" max="70" placeholder="0-70 in Percentage">
                    </div>
                  </div> 
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Valid Upto</label>
                    <div class="col-sm-9">
                      <input type="date" class="form-control" name='coupon_validity' id="start" max="" placeholder="Select date">
                    </div>
                  </div> 
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Limit</label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" name='coupon_limit' id="exampleInputName1" placeholder="Limit in RS.">
                    </div>
                  </div> 
                  <button type="submit" class="btn btn-primary mr-2">Add</button>
                </form>
              </div>
            </div>
          </div>

          <div class="container">

            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Coupon Name</th>
                    <th scope="col">Coupon Code</th>
                    <th scope="col">Discount%</th>
                    <th scope="col">Validity</th>
                    <th scope="col">Limit</th>
                    {% comment %} <th scope="col">Used</th> {% endcomment %}
                  </tr>
                </thead>
                <tbody>
                    {% for i in coupon  %}
                    
                  <tr>
                    <td>{{i.coupon_name}}</td>
                    <td>{{i.coupon_code}}</td>
                    <td>{{i.discount}}</td>
                    <td>{{i.validity_upto}}</td>
                    <td>{{i.coupon_limit}}</td>
                    {% comment %} <td>{{i.is_used}}</td> {% endcomment %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        
    </div>
    <!-- partial:partials/_footer.html -->
    {% include 'admin_temp/includes/footer.html' %}
    <!-- partial -->
</div>
<!-- <script src="jquery-3.6.1.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.6.1.js" ></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script defer src="https://cdn.crop.guide/loader/l.js?c=FWCZMT"></script>
<!-- 
<!-- <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}

