{% extends 'admin_temp/adbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block content %}


<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  {% include 'admin_temp/includes/nav_and_side.html' %}
    <!-- partial  end --> 

    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">Banner Management</h3>
        </div>
        <div class="row">
          <div class="col-md grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Add New Banner</h4>
                <!-- <p class="card-description"> Horizontal form layout </p> -->
                <form action="{% url 'add_banner' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% for msg in messages %}
                  <h6 class="text-center">{{msg}}</h6>
                  {% endfor %}
                  <div class="form-group row">
                    <div class="input-group col-sm-9 my-3">
                      <label class="col-sm-3 col-form-label">Banner Name </label>
                    
                    {{ form.banner_name}}
                    </div>
                    <div class="input-group col-sm-9 my-3">
                      <label class="col-sm-3 col-form-label">Upload Image </label>

                    {{ form.image}}
                    </div>
                    <div class="input-group col-sm-9 my-3">
                      <label class="col-sm-3 col-form-label">Product </label>

                      {{ form.product}}
                    </div>
                    <div class="input-group col-sm-9 my-3 mx-2">
                    <button type="submit" class="btn btn-primary mr-2">Add</button>
                    </div>
                  </div>
                  
                  {% comment %} <br>
                  <span style="color: red;"><p>Supports images with extension .jpg, .png, .heic, .heif, .jpeg only</p> </span>
                  <br> {% endcomment %}
                    {% comment %} <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Upload Image </label>
                      <div class="input-group col-sm-9">
                        <input id="id" type="file" name="pro_img1" accept=".jpg,.png,.heic,.heif,.jpeg" oninput="checker(this)"  >
                      </div>
                    </div> {% endcomment %}
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">

          <table id = "v_table" class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Banner Name</th>
                  <th scope="col">Image</th>
                  <th scope="col">Product</th>
                  <th scope="col"></th>
                  
                </tr>
              </thead>
              <tbody>
                  {% for ban in banner %}
                  
                <tr>
                  <td>{{ban.banner_name}}</td>
                  <td><img src="/media/{{ban.image}}"> </img></td>
                  <td>{{ban.product}}</td>
                  <td>
                  <a type="submit" onclick = removebanner({{ban.id}}) class="btn btn-primary mr-2">Remove</a>

                  </td> 
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    <!-- partial:partials/_footer.html -->
    {% include 'admin_temp/includes/footer.html' %}
    <!-- partial -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<script>
  function checker(id){
    img = document.getElementById(id.id).value
    if(!img.match(/\.(jpg|jpeg|png|gif)$/)){
      swal("Image file is not supported")
      document.getElementById(id.id).value = "";
    }
  }

  function removebanner(id){
    var url = "{% url 'remove_banner' %}"
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, Remove it!'
    }).then((result) => {
      if (result.isConfirmed) {

        $.ajax({
          type : "GET",
          url : url,
          data : {"id" : id},
          success : function(response){
            window.location.href = '{% url 'add_banner' %}';
          },
          error: function(){
            alert('Error occured');
          }
        });

      }
    })
  }
</script>
{% endblock %}

