{% extends 'admin_temp/adbase.html' %}
{% load static %}
{% block content %}

<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  {% include 'admin_temp/includes/nav_and_side.html' %}
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card corona-gradient-card">
              <div class="card-body py-0 px-0 px-sm-3">
                <div class="row align-items-center">
                  <div class="col-4 col-sm-3 col-xl-2">
                    <img src="{% static 'admin_static/images/dashboard/Group126@2x.png' %}" class="gradient-corona-img img-fluid" alt="">
                  </div>
                  <div class="col-5 col-sm-7 col-xl-8 p-0">
                    <h4 class="mb-1 mb-sm-0">ADMIN DASHBOARD</h4>
                    <p class="mb-0 font-weight-normal d-none d-sm-block"></p>
                  </div>
                  <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                    {% comment %} <span>
                      <a href="https://www.bootstrapdash.com/product/corona-admin-template/" target="_blank" class="btn btn-outline-light btn-rounded get-started-btn">Upgrade to PRO</a>
                    </span> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                      <h3 class="mb-0">{{ total_users }}</h3>
                      {% comment %} <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> {% endcomment %}
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="icon icon-box-success ">
                      <i class="mdi mdi-trending-up text-success"></i>
                    </div>
                  </div>
                </div>
                <h4 class="text-muted font-weight-normal">Total Users</h4>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                      <h3 class="mb-0">{{ total_products }}</h3>
                      {% comment %} <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p> {% endcomment %}
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="icon icon-box-success">
                      <i class="mdi mdi-trending-up text-success"></i>

                    </div>
                  </div>
                </div>
                <h4 class="text-muted font-weight-normal">Total Products</h4>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                      <h3 class="mb-0">{{ total_orders }}</h3>
                      {% comment %} <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p> {% endcomment %}
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="icon icon-box-success">
                      <i class="mdi mdi-trending-up text-success"></i>

                    </div>
                  </div>
                </div>
                <h4 class="text-muted font-weight-normal">Total Orders</h4>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                      <h3 class="mb-0">$ {{total_revenue}}</h3>
                      {% comment %} <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p> {% endcomment %}
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="icon icon-box-success">
                      <i class="mdi mdi-trending-up text-success"></i>

                    </div>
                  </div>
                </div>
                <h4 class="text-muted font-weight-normal">Total Revenue</h4>
              </div>
            </div>
          </div>
         
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Payment History</h4>
                <canvas id="payment_status" style="height:250px" class="transaction-chart"></canvas>
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                  <div class="text-md-center text-xl-left">
                    <h6 class="mb-1">Order via Paypal</h6>
                    {% comment %} <p class="text-muted mb-0">{{paypal_m}}</p> {% endcomment %}
                  </div>
                  <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                    <h6 class="font-weight-bold mb-0">{{paypal_m}}</h6>
                  </div>
                </div>
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                  <div class="text-md-center text-xl-left">
                    <h6 class="mb-1">Order via Razorpay</h6>
                    {% comment %} <p class="text-muted mb-0">{{paypal_m}}</p> {% endcomment %}
                  </div>
                  <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                    <h6 class="font-weight-bold mb-0">{{razorpay_m}}</h6>
                  </div>
                </div>
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                  <div class="text-md-center text-xl-left">
                    <h6 class="mb-1">Order via Cash On Delivery</h6>
                    {% comment %} <p class="text-muted mb-0">{{cod_m}}</p> {% endcomment %}
                  </div>
                  <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                    <h6 class="font-weight-bold mb-0">{{cod_m}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Total Order History</h4>
                <canvas id="sales" class="transaction-chart"></canvas>
              </div>
            </div>
          </div>
         <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Month wise order history</h4>
              <form id = 'formId' action ="{% url 'admin_home' %}" method ="GET">
                <div class="form-group">
                  <label>Select Month</label>
                  <select name="Month" class="js-example-basic-single" style="width:100%">
                    <option value="0">Select by Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </div>
                <div class="my-3">
                  <button id ='submitButton' type="submit" class="btn btn-outline-primary btn-icon-text">Submit</button>
                </div>
                <canvas id="bar-chart" class="transaction-chart"></canvas>
              </form>
              </div>
            </div>
          </div> 
          {% comment %} <div class="col-sm-4 grid-margin">
            <div class="card">
              <div class="card-body">
                <h5>Revenue</h5>
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      <h2 class="mb-0">$32123</h2>
                      <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                    </div>
                    <h6 class="text-muted font-weight-normal">11.38% Since last month</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
          {% comment %} <div class="col-sm-4 grid-margin">
            <div class="card">
              <div class="card-body">
                <h5>Sales</h5>
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      <h2 class="mb-0">$45850</h2>
                      <p class="text-success ml-2 mb-0 font-weight-medium">+8.3%</p>
                    </div>
                    <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
          {% comment %} <div class="col-sm-4 grid-margin">
            <div class="card">
              <div class="card-body">
                <h5>Purchase</h5>
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      <h2 class="mb-0">$2039</h2>
                      <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p>
                    </div>
                    <h6 class="text-muted font-weight-normal">2.27% Since last month</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
        <div class="row ">
          <div class="col-12 grid-margin">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-4 grid-margin stretch-card">
            
          </div>
          <div class="col-md-6 col-xl-4 grid-margin stretch-card">
           
          </div>
          <div class="col-md-12 col-xl-4 grid-margin stretch-card">
            
          </div>
        </div>
        {% comment %} <div class="row">
          <div class="col-12">
            
          </div>
        </div> {% endcomment %}
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      {% include 'admin_temp/includes/footer.html' %}
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

new Chart(document.getElementById("sales"), {
  type: 'line',
  data: {
    labels: [{% for d in dates %} "{{d.order_date__date}}",{% endfor %}],
    datasets: [{ 
        data: [{% for s in sales %} "{{s.sales}}", {% endfor %}],
        label: "Products Sold",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [{% for d in dates %} "{{d.order_items}}",{% endfor %}],
        label: "Order Placed",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [{% for r in returns %} "{{r.return_items}}",{% endfor %}], 
        label: "Returned Orders",
        borderColor: "#3cba9f",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      {% comment %} text: 'World population per region (in millions)' {% endcomment %}
    }
  }
});


new Chart(document.getElementById("payment_status"), {
  type: 'doughnut',
  data: {
    labels: ["Cash On Delivery", "PayPal","Razorpay"],
    datasets: [
      {
        label: "Payment Mode",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [{{cod_m}},{{paypal_m}},{{razorpay_m}}]
      }
    ]
  },
  options: {
    title: {
      display: true,
      {% comment %} text: 'Predicted world population (millions) in 2050' {% endcomment %}
    }
  }
});

new Chart(document.getElementById("bar-chart"), {
  type: 'bar',
  data: {
    labels: ["Jan", "Feb", "March", "April", "May","June","July","Aug","Sept","Oct","Nov","Dec"],
    datasets: [
      {
        label: "month wise orders",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2"],
        data: [
        {% for i  in months  %}
        {% if i == month  %}
        {{monthly_orders}},
        {% else %}
        '0',
        {% endif %}
        {% endfor %}
        ]
      }
    ]
  },
  options: {
    legend: { display: false },
    title: {
      display: true,
      {% comment %} text: 'Predicted world population (millions) in 2050' {% endcomment %}
    }
  }
}); 


$(()=>{
  $("#submitButton").click(function(ev){
    var form = $("#formId");
    var url = form.attr("{% url 'admin_home' %}");
    $.ajax({
      type : "GET",
      url : url,
      data: form.serialize(),
      });
    });
  });

</script>
{% endblock %}