{% extends 'admin_temp/adbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  {% include 'admin_temp/includes/nav_and_side.html' %}
    <!-- partial  end --> 

    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">Product Management</h3>
          <nav aria-label="breadcrumb">
            <!-- <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"></a></li>
              <li class="breadcrumb-item active" aria-current="page">Form elements</li>
            </ol> -->
          </nav>
        </div>
        <div class="row">
          <div class="col-md grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Edit product</h4>
                <!-- <p class="card-description"> Horizontal form layout </p> -->
                <form action=" " method="POST" autocomplete="off" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value = "{{ product.product_name }}" name='product_name' id="exampleInputName1" placeholder="Product Name">
                      <!-- {{form.product_name|add_class:"form-control"}} -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Product Description</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value = "{{ product.product_description }}" name='product_description' id="exampleInputName1" placeholder="Description">
                      <!-- {{form.product_description|add_class:"form-control"}} -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" value = "{{ product.price }}" name='price' id="exampleInputName1" placeholder="Price">
                      <!-- {{form.price|add_class:"form-control"}} -->
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleSelectGender"class="col-sm-3 col-form-label" >Select Category</label>
                    <div class="col-sm-9">
                      <select class="form-control" name="category" id="select1" >
                  <!-- <div class="form-group row"> -->
                    <!-- <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Category</label> -->
                      {% for cat in categories %}
                      <option value = "{{cat.id}}">{{cat.category_name}}</option>
                      {% endfor %}
                      <!-- <input type="text" class="form-control"name='category' id="exampleInputName1" placeholder="Category"> -->
                      <!-- {{form.category|add_class:"form-control"}} -->
                    </select>
                  </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleSelectGender" class="col-sm-3 col-form-label">Select Sub-Category</label>
                    <div class="col-sm-9">
                    <select class="form-control" name="subcategory"  id="select2" >
                     
                    </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Stock</label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" value= "{{ product.stock }}" name='stock' id="exampleInputName1" placeholder="Stock">
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Availability</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control"name='is_available' id="exampleInputName1" placeholder="Availability">  
                      {{form.is_available|add_class:"form-control"}} -->
                    <!-- </div> -->
                  <!-- </div> -->
                  <br>
                  <!-- <span style="color: red;"><p>Supports images with extension .jpg, .png, .heic, .heif, .jpeg only</p> </span> -->
                  <br>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Upload image 1</label>
                      <div class="input-group col-sm-9">
                        <input id = "id" type="file" value = "{{ product.img1.url }}" name="pro_img1" accept=".jpg,.png,.heic,.heif,.jpeg"   >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Upload image 2</label>
                      <div class="input-group col-sm-9">
                        <input id = "id" type="file" value = "{{ product.img2.url }}" name="pro_img2" accept=".jpg,.png,.heic,.heif,.jpeg" >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Upload image 3</label>
                      <div class="input-group col-sm-9">
                        <input id = "id" type="file" value = "{{ product.img3.url }}" name="pro_img3" accept=".jpg,.png,.heic,.heif,.jpeg" >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Upload image 4</label>
                      <div class="input-group col-sm-9">
                        <!-- <img src="{{ product.img4.url }}" class="w-50"> -->
                        <input id = "id" type="file" value = "{{ product.img4.url }}" name="pro_img4" accept=".jpg,.png,.heic,.heif,.jpeg">
                      </div>
                    </div>

                  <button type="submit" class="btn btn-primary mr-2">Edit</button>
                  <a href="{% url 'admin_productlist' %}">
                  <button class="btn btn-info">Cancel</button>
                  </a>
                </form>
              </div>
            </div>
          </div>
    </div>
    <!-- partial:partials/_footer.html -->
    {% include 'admin_temp/includes/footer.html' %}
    <!-- partial -->
</div>

<script defer src="https://cdn.crop.guide/loader/l.js?c=NLDYSB"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>

  $("#select1").change(function (){
    
    var id = $(this).val();
    console.log('kkkkkkkkkkkkkkkk')
    $.ajax({
      type: "GET",
      url : "{% url 'load_subcategory' %}",
      data :{"id":id},
      success: function(data){
        $("#select2").html(data);
      }

    });

  });
</script>

{% endblock %}