{% extends 'admin_temp/adbase.html' %}
{% load static %}
{% block content %}

<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  {% include 'admin_temp/includes/nav_and_side.html' %}
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">Offer Management</h3>
            {% comment %} <nav aria-label="breadcrumb">
              <a href="">
              <button type="button" class="btn btn-outline-success btn-fw">Add Offer</button>
            </a>
          </nav> {% endcomment %}
        </div>
        <div class="row">
          <div class="col-lg grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Product Offer</h4>
                
                <!-- <p class="card-description"> Add class <code>.table-hover</code></p> -->
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>SL No.</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for pd in products %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{pd.product_name}}</td>
                        <td>
                          <img src="{{pd.img1.url}}">
                        </td>
                        {% comment %} <td>{{pd.category}}</td> {% endcomment %}
                        {% comment %} <td>{{pd.subcategory}}</td> {% endcomment %}
                        <td>{{pd.price}}</td>
                        <td>{{pd.offer}}%</td>
                        <td>
                          {% if pd.offer is not None and pd.offer is not 0 %}
                          <button onclick = del_product_offer({{pd.id}}) type="button" class="btn btn-danger ">Delete</button>
                          {% else %}
                          <a href="{% url 'add_product_offer' pd.id %}">
                            <button type="submit" class="btn btn-info  mx-2">Add Offer</button> 
                          </a> 
                        </td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
              
      <!-- partial:partials/_footer.html -->
      {% include 'admin_temp/includes/footer.html' %}
      <!-- partial -->
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>




<script><link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  function del_product_offer(id){
    console.log('lllllllll')
    var url = "{% url 'delete_product_offer' %}"
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {

        $.ajax({
          type : "GET",
          url : url,
          data : {"id" : id},
          success : function(response){
            window.location.href = '{% url 'product_offer' %}';
          },
          error: function(){
            alert('Error occured');
          }
        });

      }
    })
  }
</script>

{% endblock %}